In [1]:

import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import os
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [4]:
columns = ["id","title","budget","genre","popularity","release_date","revenue","runtime","vote_average"]
    


target = ["revenue"]

In [5]:
x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_earner')    
df = df.replace(x)

NameError: name 'df' is not defined

In [6]:
revenue =df["revenue"].tolist()
revenue

NameError: name 'df' is not defined

In [7]:
# Load the data
file_path = Path('movie_data.csv')
df = pd.read_csv(file_path,)
df = df.loc[:,columns].copy()

# Drop the null columns where all values are null
movies_df = df.dropna(axis='columns', how='all')

# Drop the null rows
movies_df = df.dropna()

# Convert the target column values to low_Earners and high_Earners based on their values
#x = {'Current': 'low_earner'}   
#df = df.replace(x)
   
#x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_earner')    
#df = df.replace(x)

#df.reset_index(inplace=True, drop=True)




df.head()

,id,title,budget,genre,popularity,release_date,revenue,runtime,vote_average
0,100,"Lock, Stock and Two Smoking Barrels",1350000,Crime,4.60786,1998-03-05,3897569.0,105.0,7.5
1,100,"Lock, Stock and Two Smoking Barrels",1350000,Comedy,4.60786,1998-03-05,3897569.0,105.0,7.5
2,10003,The Saint,68000000,Action,10.97633,1997-04-03,118063304.0,116.0,5.9
3,10003,The Saint,68000000,Adventure,10.97633,1997-04-03,118063304.0,116.0,5.9
4,10003,The Saint,68000000,Science Fiction,10.97633,1997-04-03,118063304.0,116.0,5.9

In [14]:
# Load the data
file_path = Path('movie_data.csv')
df = pd.read_csv(file_path,)
df = df.loc[:,columns].copy()

# Drop the null columns where all values are null
movies_df = df.dropna(axis='columns', how='all')

# Drop the null rows
movies_df = df.dropna()

for i in revenue:
    if i < 65358375:
# Convert the target column values to low_Earners and high_Earners based on their values
        x = {i: 'low_earner'}   
        df = df.replace(x)
    else:
        x = {i: 'high_earner'}    
        df = df.replace(x)

df.reset_index(inplace=True, drop=True)




df.head()

NameError: name 'revenue' is not defined

In [15]:
mean_revenue=df["revenue"].mean()
mean_revenue

65358375.04014965

In [16]:
# Create our features
X = movies_df.drop("revenue", axis=1)

X = pd.get_dummies(X)

# Create our target
y = movies_df["revenue"]

In [17]:
X.describe()

,id,budget,popularity,runtime,vote_average,title_#Horror,title_(500) Days of Summer,title_.45,title_1. Mai – Helden bei der Arbeit,title_10 Cloverfield Lane,...,release_date_2017-07-11,release_date_2017-07-19,release_date_2017-07-20,release_date_2017-07-26,release_date_2017-07-28,release_date_2017-08-03,release_date_2017-08-04,release_date_2017-10-27,release_date_2018-03-01,release_date_2018-12-31
count,21905.000000,2.190500e+04,21905.000000,21905.000000,21905.000000,21905.000000,21905.000000,21905.000000,21905.000000,21905.000000,...,21905.000000,21905.000000,21905.000000,21905.000000,21905.000000,21905.000000,21905.000000,21905.000000,21905.000000,21905.000000
mean,68018.594933,2.551612e+07,8.066245,106.838347,6.053947,0.000183,0.000137,0.000137,0.000046,0.000137,...,0.000137,0.000228,0.000137,0.000091,0.000457,0.000411,0.000091,0.000091,0.000183,0.000091
std,100597.509688,3.798007e+07,13.034695,28.544919,1.138666,0.013512,0.011702,0.011702,0.006757,0.011702,...,0.011702,0.015107,0.011702,0.009555,0.021362,0.020266,0.009555,0.009555,0.013512,0.009555
min,5.000000,1.000000e+00,0.000001,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9806.000000,2.745000e+06,2.727017,92.000000,5.500000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,21026.000000,1.000000e+07,6.865513,102.000000,6.200000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,71559.000000,3.000000e+07,10.586815,117.000000,6.800000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,468707.000000,3.800000e+08,547.488298,705.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
# Check the balance of our target values
y.value_counts()

0.0           7858
12000000.0      45
2000000.0       41
10000000.0      37
11000000.0      35
              ...
33828318.0       1
18599102.0       1
11806119.0       1
46770602.0       1
5731103.0        1
Name: revenue, Length: 4998, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [20]:
print(X_train.shape)

(16428, 14113)

In [21]:
print(y_train.shape)

(16428,)

In [ ]:
# Resample the training data with the BalancedRandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
random_forest = RandomForestRegressor(n_estimators = 100)
random_forest = random_forest.fit(X_train, y_train)

In [ ]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = random_forest.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)